{% if qbittorrent_container_labels_traefik_enabled %}
traefik.enable=true

{% if qbittorrent_container_labels_traefik_docker_network %}
traefik.docker.network={{ qbittorrent_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if qbittorrent_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ qbittorrent_identifier }}-slashless-redirect.redirectregex.regex=^({{ qbittorrent_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ qbittorrent_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [qbittorrent_identifier + '-slashless-redirect'] %}
{% endif %}

{% if qbittorrent_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ qbittorrent_identifier }}-strip-prefix.stripprefix.prefixes={{ qbittorrent_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [qbittorrent_identifier + '-strip-prefix'] %}
{% endif %}

traefik.http.routers.{{ qbittorrent_identifier }}.rule={{ qbittorrent_container_labels_traefik_rule }}
{% if qbittorrent_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ qbittorrent_identifier }}.priority={{ qbittorrent_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ qbittorrent_identifier }}.service={{ qbittorrent_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ qbittorrent_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ qbittorrent_identifier }}.entrypoints={{ qbittorrent_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ qbittorrent_identifier }}.tls={{ qbittorrent_container_labels_traefik_tls | to_json }}
{% if qbittorrent_container_labels_traefik_tls %}
traefik.http.routers.{{ qbittorrent_identifier }}.tls.certResolver={{ qbittorrent_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ qbittorrent_identifier }}.loadbalancer.server.port={{ qbittorrent_container_webui_port }}
{% endif %}

{{ qbittorrent_container_labels_additional_labels }}
